.custom-card-content {
  color: #546e7a;
  font-weight: 600;
  font-size: 1.2rem;
}

.custom-card-paragraph {
  color: #37474f;
  font-weight: 600;
  font-size: 1rem;
}

.bold-custom-price {
  color: #37474f;
  font-size: 1.8rem;
  font-weight: bold;
}

.bold-custom-caution {
  color: #37474f;
  font-size: 1.2rem;
  font-weight: bold;
}

.example-card {
  width: 100%;
  height: 100%;
}

.card-image-container {
  display: flex;
  justify-content: center;
}

.card-image {
  width: 85%;
  border-radius: 5px;
}

@media only screen and (min-width: 600px) {
  #map3 {
    height: 350px;
    min-width: 50%;
  }
}

@media only screen and (max-width: 600px) {
  #map3 {
    height: 350px;
    width: 400px;
  }
}
