.image-size {
  height: 300px !important;
}

.card {
  margin: auto;
  height: 400px;
  max-width: 280px;
}

@media only screen and (max-width: 600px) {
  .image-size {
    height: 180px !important;
  }

  .card {
    margin: auto;
    max-width: 280px;
    height: 300px;
  }
}
