<footer>
  <section class="social-info">
    <div style="margin-top: 20px">
      <h4 style="text-align: center">Odwiedź nas</h4>
    </div>

    <ul class="social-list">
      <li>
        <a href="https://www.facebook.com/spectools.mielec"
          ><i class="bi bi-facebook" style="color: #ffc107"></i> SpecTools</a
        >
      </li>

      <li>
        <a href="https://www.instagram.com/spectools.mielec/"
          ><i class="bi bi-instagram" style="color: #ffc107"></i> SpecTools</a
        >
      </li>
    </ul>
  </section>

  <section class="footer-main">
    <div class="footer-main-item">
      <h4>SpecTools Dawid Rzemieniarz</h4>
      <h4>Wypożyczalnia urządzeń</h4>
      <ul>
        <li><p>ul. Borowa</p></li>
        <li><p>39-305 Borowa</p></li>
        <li><p>+48 512 719 619</p></li>
        <li><p>spectools.mielec@outlook.com</p></li>
        <li style="margin-top: 5px">
          <button mat-flat-button color="accent" routerLink="/kontakt">
            Formularz kontaktowy
          </button>
        </li>
      </ul>
    </div>
    <div class="footer-main-item">
      <h2 class="footer-header">Atuty</h2>
      <ul>
        <li><p>- Profesjonalna obsługa</p></li>
        <li><p>- Profesjonalne urządzenia</p></li>
        <li><p>- Konkurencyjne ceny</p></li>
        <li><p>- Darmowa dostawa</p></li>
      </ul>
    </div>

    <div class="footer-main-item">
      <ul>
        <li><a routerLink="/oferta">Oferta</a></li>
        <!-- <li><p>Wyszukaj narzędzia</p></li> -->
        <li><a routerLink="/regulamin">Regulamin</a></li>
      </ul>
    </div>
  </section>

  <section class="legal-info">
    <ul class="legal-list">
      <li>Autor: Bartosz Stachowicz</li>
      <li>698 850 820</li>
      <li><a href="https://www.bstachowicz.pl/">www.bstachowicz.pl</a></li>
      <li>&copy; 2023 Copyright Spectools</li>
    </ul>
  </section>
</footer>
