mat-grid-tile {
  background: whitesmoke;
}

mat-grid-list {
  background: whitesmoke;
  margin-top: 50px;
  margin-bottom: 50px;
}
.mat-grid-margin-handset {
  margin-top: 0px;
}

.example-card {
  min-width: none;
  position: relative;
}

/* .notify-badge {
  z-index: 10;
  position: absolute;
  right: -20px;
  top: 10px;
  background: red;
  text-align: center;
  border-radius: 30px 30px 30px 30px;
  color: white;
  padding: 5px 10px;
  font-size: 20px;
} */

.btn-mode-change {
  text-align: end;
}

.btn-mode-active {
  color: #ffc107;
}

.add-new-btn {
  justify-self: center;
}

.custom-card-paragraph {
  color: #37474f;
  font-weight: 600;
  font-size: 1rem;
}

.bold-custom-price {
  color: #37474f;
  font-size: 1.2rem;
  font-weight: bold;
}

.custom-card-content {
  color: #546e7a;
  font-weight: 600;
  font-size: 1.2rem;
}
