<div class="header">EDYCJA PROMOCJI</div>

<mat-card class="offer-edit-card">
  <!-- <button mat-raised-button color="accent" style="margin: 2rem" type="button">
    ZAŁADUJ DANE
  </button> -->
  <mat-card-content>
    <form class="edit-form" [formGroup]="form">
      <mat-form-field appearance="fill" color="accent">
        <mat-label>TEXT 1</mat-label>
        <textarea matInput formControlName="text1" rows="2"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" color="accent">
        <mat-label>TEXT 2</mat-label>
        <textarea matInput formControlName="text2" rows="2"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" color="accent">
        <mat-label
          >Ścieżka do zdjęcia 1 (opcjonalnie zamiast zdjęcia z dysku można
          skopiować adres zdjęcia i wkleić)</mat-label
        >
        <textarea matInput formControlName="imagePath1" rows="2"></textarea>
      </mat-form-field>
      <mat-form-field appearance="fill" color="accent">
        <mat-label
          >Ścieżka do zdjęcia 2 (opcjonalnie zamiast zdjęcia z dysku można
          skopiować adres zdjęcia i wkleić)</mat-label
        >
        <textarea matInput formControlName="imagePath2" rows="2"></textarea>
      </mat-form-field>
      <button
        color="accent"
        mat-raised-button
        type="button"
        style="width: 300px"
        (click)="pickFile.click()"
      >
        Wybierz zdjęcia:
      </button>
      <input type="file" multiple #pickFile (change)="selectFiles($event)" />
      <button
        color="accent"
        mat-raised-button
        type="button"
        style="margin-bottom: 2rem; width: 300px"
        (click)="onSwitchImage()"
      >
        Zamień miejscami <i class="bi bi-arrow-down-up"></i>
      </button>
      <div class="example-boundary" *ngFor="let preview of previews">
        <img [src]="preview" class="img-preview" />
      </div>
      <button
        mat-raised-button
        color="accent"
        type="reset"
        style="width: 300px"
        (click)="onSubmit()"
        [disabled]="!form.valid"
      >
        ZAPISZ
      </button>
    </form>
  </mat-card-content>
</mat-card>
