.example-card {
  width: 500px;
  height: 300px;
}

.example-card-header {
  width: 1016px;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header {
  font-size: 1rem;
  font-weight: bold;
  color: #455a64;
  text-align: center;
  margin: 1rem 0;
}

.counter {
  font-size: 3rem;
  font-weight: bold;
  color: #455a64;
  text-align: center;
}

.chart-icon {
  font-size: 5rem;
  font-weight: bold;
  color: #ffc107;
  text-align: center;
}

@media only screen and (max-width: 500px) {
}
