.example-card {
  width: 500px;
  height: 300px;
}

.header {
  font-size: 1rem;
  font-weight: bold;
  color: #455a64;
  text-align: center;
  margin: 1rem 0;
}

.counter {
  font-size: 3rem;
  font-weight: bold;
  color: #455a64;
  text-align: center;
}

.chart-icon {
  font-size: 5rem;
  font-weight: bold;
  color: #ffc107;
  text-align: center;
}

@media only screen and (max-width: 500px) {
  .example-card {
    width: 300px;
    height: 300px;
    margin: auto;
  }
}
