<div class="main-regulamin">
  <h2 class="header-regulamin">Regulamin</h2>
  <div>
    <div><br /></div>
    <div class="header-small">
      <strong>&nbsp;§1 Warunki wynajmu sprzętu.&nbsp;</strong>
    </div>
    <div>
      1. Podstawą wynajęcia sprzętu jest spisanie umowy wynajmu pomiędzy zwaną w
      dalszej części WYNAJMUJĄCYM, a osobą lub firmą pożyczającą zwaną w dalszej
      części NAJEMCĄ.&nbsp;
    </div>
    <div>
      2. W celu sporządzenia umowy przez WYNAJMUJĄCEGO, NAJEMCA powinien
      posiadać ważny dokument ze zdjęciem.&nbsp;
    </div>
    <div>
      3. Cena wynajmu jest zależna od ilości dni wypożyczenia i rodzaju sprzętu,
      ustalana jest przed sporządzeniem umowy.&nbsp;
    </div>
    <div>
      4. NAJEMCA nie ponosi odpowiedzialności za awarie powstałe w wyniku
      prawidłowego użytkowania zgodnie z instukcją obsługi.&nbsp;
    </div>
    <div>
      5. Podczas wypożyczania zostaje pobrana kaucja zwrotna, która jest
      ewentualnym zabezpieczeniem dla WYNAJMUJĄCEGO w przypadku kradzieży,
      dewastacji lub niestosowania sie do instukcji obsługi lecz nie zwalnia
      NAJEMCY z pokrycia 100% szkód powstałych z powodu powyżej wymienionych
      sytuacji, koszt naprawy ustala autoryzowany serwis, w przypadku braku
      opłacalności naprawy należy zwrócić watość netto urządzenia.&nbsp;
    </div>
    <div>
      6. Cena za wynajem jest obliczana od momentu wypożyczenia do momentu
      zwrotu sprzętu, a nie na podstawie czasu użytkowania sprzętu.&nbsp;
    </div>
    <div>7. Wypożyczone urządzenia są w pełni sprawne technicznie.&nbsp;</div>
    <div>
      8. Wypożyczalnia nie ponosi odpowiedzialności za skutki uboczne i/lub
      następstw awarii urządzenia jak: uszkodzenia ciała, straty materialne,
      utrata przewidywanych zysków (dochodów, płace zatrudnionych pracowników,
      niezrealizowanych choć przyjętych zleceń itp.).&nbsp;
    </div>
    <div>
      9. Faktury VAT lub paragony będą wystawiane w dniu zwrotu sprzętu.&nbsp;
    </div>
    <div><br /></div>
    <div class="header-small">
      &nbsp;<strong>§2 Zobowiązania WYNAJMUJĄCEGO.&nbsp;</strong>
    </div>
    <div>
      1. WYNAJMUJĄCY oświadcza, że sprzęt, będący przedmiotem umowy jest w
      dobrym stanie technicznym, przydatnym do umówionego użytku, bez żadnych
      ukrytych wad.&nbsp;
    </div>
    <div>
      2. Przed każdym wypożyczeniem sprzętu WYNAJMUJĄCY ma obowiązek zapoznać
      NAJEMCĘ z dokładną instrukcją obsługi i przeszkolić go w zakresie
      bezpiecznego użytkowania najmowanego sprzętu.&nbsp;
    </div>
    <div>
      3. WYNAJMUJĄCY nie ponosi żadnej odpowiedzialności za wypadki i ewentualne
      szkody powstałe w czasie użytkowania narzędzi.&nbsp;
    </div>
    <div>
      4. WYNAJMUJĄCY zobowiązuje się do ochrony danych osobowych NAJEMCY i nie
      przekazywania ich osobom trzecim bez 0wyraźnej zgody NAJEMCY.&nbsp;
    </div>
    <div>
      5. WYNAJMUJĄCY może odmówić podpisania umowy wypożyczenia w przypadkach: ⦁
      wątpliwości co do prawdziwości okazanych przez klienta dokumentów; ⦁
      przedłożenia dokumentów zniszczonych (w szczególności nieczytelnych); ⦁
      klientom zalegającym w opłatach za wypożyczenie; ⦁ innych uzasadnionych
      przypadkach.&nbsp;
    </div>
    <div><br /></div>
    <div class="header-small">
      <strong>&nbsp;§3 Zobowiązania NAJEMCY.&nbsp;</strong>
    </div>
    <div>
      1. NAJEMCA przyjmuje do użytku sprzęt będący własnością WYNAJMUJĄCEGO, z
      obowiązkiem zwrotu w stanie nie pogorszonym ponad normalne zużycie.
    </div>
    <div>
      2. NAJEMCA oświadcza, że został zapoznany z instrukcją obsługi i został
      przeszkolony w zakresie bezpiecznego użytkowania najmowanego
      sprzętu.&nbsp;
    </div>
    <div>
      3. NAJEMCA zobowiązuje się płacić WYNAJMUJĄCEMU czynsz w wysokości
      wynikającej z przemnożenia ilości dni najmu i stawki za jedną dobę według
      obowiązującego cennika. W przypadku zwłoki w płatności, WYNAJMUJĄCY
      uprawniony jest do żądania ustawowych odsetek.&nbsp;
    </div>
    <div>
      4. NAJEMCA zobowiązuje się, iż wynajęty sprzęt będzie użytkował zgodnie z
      jego przeznaczeniem, nie będzie dokonywał napraw bez wiedzy i zgody
      WYNAJMUJĄCEGO, nie odda przedmiotu najmu osobie trzeciej do używania lub w
      podnajem, zabezpieczy sprzęt przed uszkodzeniem, kradzieżą i
      zniszczeniem.&nbsp;
    </div>
    <div>
      5. Od chwili odbioru sprzętu od WYNAJMUJĄCEGO do momentu jego zwrotu
      NAJEMCA ponosi odpowiedzialność za jego zaginięcie lub uszkodzenie;
      kradzież lub dewastacje NAJEMCA ma obowiązek bezzwłocznie zgłosić organom
      ścigania.&nbsp;
    </div>
    <div>
      6. W razie zaginięcia, utraty lub zniszczenia sprzętu NAJEMCA zobowiązany
      jest zapłacić WYNAJMUJĄCEMU cenę sprzętu w wartości netto podanej w umowie
      wypożyczenia.&nbsp;
    </div>
    <div>
      7. Skutki uszkodzeń, awarii i strat powstałe przez nie przestrzeganie w/w
      instrukcji oraz zasad BHP będą obciążały najemcę kwotą netto ustaloną
      przez autoryzowany serwis.&nbsp;
    </div>
    <div>
      8. Odpowiedzialność za szkody wobec osób trzecich powstałe w skutek prac
      prowadzonych przy użyciu przedmiotu najmu przez NAJEMCĘ ponosi
      NAJEMCA.&nbsp;
    </div>
    <div>
      9. NAJEMCA zrzeka się wszelkich roszczeń wobec WYNAJMUJĄCEGO z tytułu
      wypadków, poniesionych szkód lub obrażeń powstałych w trakcie korzystania
      z wypożyczonego sprzętu.&nbsp;
    </div>
    <div>
      10.W przypadku nieprawidłowego działania urządzenia NAJEMCA zobowiązany
      jest do przerwania pracy i niezwłocznego zwrócenia go do
      WYNAJMUJĄCEGO.&nbsp;
    </div>
    <div><br /></div>
    <div class="header-small">
      <strong>&nbsp;§4 Zwrot sprzętu.&nbsp;</strong>
    </div>
    <div>
      1. NAJEMCA zobowiązuje się zwrócić przedmiot najmu w przewidywanym dniu
      zwrotu, podanym na umowie wynajmu, nie później niż do godziny, w której
      został on pożyczony. W przypadku zwrotu przedmiotu najmu po terminie
      wygaśnięcia umowy najmu, zostanie naliczony czynsz w wyskości 200% za
      każdy dzień zwłoki.&nbsp;
    </div>
    <div>
      2. Okres najmu może zostać przedłużony jedynie po poinformowaniu
      WYNAJMUJĄCEGO i po podpisaniu nowej umowy najmu, w przypadku braku zgody
      NAJEMCA jest zooobowiązany zwrócić sprzęt w przewidywanym dniu
      zwrotu.&nbsp;
    </div>
    <div>
      3. Zwrócony sprzęt powinien być kompletny, w pełni sprawny, wolny od
      wszelkich wad i oczyszczony.&nbsp;
    </div>
    <div>
      4. W przypadku zwrotu brudnego przedmiotu najmu, NAJEMCA poniesie koszty
      mycia w kwocie 20 zł brutto.&nbsp;
    </div>
    <div><br /></div>
    <div class="header-small">
      <strong>&nbsp;§5 Zerwanie umowy wynajmu.&nbsp;</strong>
    </div>
    <div>
      1. Zerwanie umowy następuje w przypadku: ⦁ samowolnego przedłużenia czasu
      użytkowania ⦁ używanie wynajętego sprzętu niezgodnie z przeznaczeniem i
      zasadami sztuki.&nbsp;
    </div>
    <div>
      2. Zerwanie umowy powoduje rygor natychmiastowego zwrotu wynajętego
      urządzenia.&nbsp;
    </div>
    <div><br /></div>
    <div>
      <strong>NAJEMCA</strong>- To osoba która jest uprawniona przez
      WYNAJMUJĄCEGO do korzystania z wypożyczonego sprzętu na podstawie
      specjalnie przygotowanej umowy.&nbsp;
    </div>
    <div>
      <strong>WYNAJMUJĄCY</strong>- To właściciel mienia, który udostępnia je
      NAJEMCY za określoną korzyść materialną na podstawie specjalnie
      przygotowanej umowy.
    </div>
  </div>
</div>
