<div class="desktop-container">
  <div class="main-regulamin">
    <h2 class="header-regulamin">Regulamin</h2>
    <p style="text-align: center" data-mce-style="text-align: center;">
      <strong> §</strong><strong>1.</strong>
    </p>
    <ol>
      <li>
        Przedmiot najmu stanowi urządzenie (dalej: Przedmiot Najmu). Strony
        ustalają wartość Przedmiotu Najmu w chwili wydania Najemcy.
      </li>
      <li>
        Wynajmujący oddaje Najemcy z dniem zawarcia umowy. Przedmiot Najmu do
        odpłatnego używania na zasadach określonych w Umowie, a Najemca
        oświadcza, że zobowiązuje się zapłacić Wynajmującemu wynagrodzenie za
        każdy dzień najmu oraz przestrzegać warunków niniejszej umowy. Jeżeli
        nie ustalono inaczej, Wynagrodzenie płatne będzie w terminie zwrotu
        Przedmiotu Najmu. W przypadku opóźnienia w płatności, Wynajmujący
        uprawniony jest do żądania ustawowych odsetek za opóźnienie.
      </li>
      <li>
        W przypadku przelewu Najemca zobowiązuje się uregulować płatności w
        ciągu 2 dni roboczych od wystawienia rachunku lub faktury, na rachunek
        bankowy Wynajmującego.
      </li>
      <li>
        Przekazanie Przedmiotu Najmu nastąpi protokołem zdawczo-odbiorczym
        sporządzonym przez obydwie Strony wg wzoru określonego w Załączniku nr
        1, który będzie stanowił integralną część niniejszej umowy.
      </li>
      <li>
        Najemca oświadcza, że został zapoznany z instrukcją obsługi Przedmiotu
        Najmu i został przeszkolony w zakresie bezpiecznego użytkowania
        najmowanego sprzętu.
      </li>
      <li>
        Najemca zobowiązuje się wykorzystywać wynajmowane przedmioty zgodnie
        <br />z ich funkcjonalnym przeznaczeniem.
      </li>
      <li>
        Najemca oświadcza, iż znany jest mu stan techniczny Przedmiotu Najmu i
        nie wnosi co do niego jakichkolwiek zastrzeżeń.
      </li>
      <li>
        Najemca oświadcza, iż Przedmiot Najmu jest wolny od wad w chwili
        przekazania i nadaje się do realizowania celu, do którego jest
        przeznaczony.
      </li>
    </ol>
    <p style="text-align: center" data-mce-style="text-align: center;">
      <strong> §</strong><strong>2.</strong>
    </p>
    <ol>
      <li>
        Z chwilą wydania Przedmiotu Najmu ryzyko uszkodzenia lub utraty
        Przedmiotu Najmu przechodzi na Najemcę i trwa do momentu zwrotu
        Przedmiotu Najmu.
      </li>
      <li>
        Najemca zobowiązuje się do zachowania dbałości o Przedmiot Najmu oraz
        przyjmuje odpowiedzialność za wszelkie jego uszkodzenia, nie wynikające
        z normalnego użytkowania, a także za jego kradzież (lub kradzież jego
        części, wyposażenia), będącą wynikiem nie zachowania warunków niniejszej
        umowy, w pełnej wysokości.
      </li>
      <li>
        Najemca zobowiązany jest do bieżącego kontrolowania stanu technicznego
        Przedmiotu Najmu oraz do należytego zabezpieczenia go przed przypadkową
        utratą, zniszczeniem, kradzieżą, a także informowania Wynajmującego o
        jakichkolwiek nieprawidłowościach w stanie Przedmiotu Najmu.
      </li>
      <li>
        Najemca nie może samodzielnie dokonywać żadnych napraw lub przeróbek w
        Przedmiocie Najmu.
      </li>
      <li>
        Najemca zobowiązuje się używać Przedmiotu Najmu przestrzegając
        instrukcji użytkowania Przedmiotu Najmu.
      </li>
      <li>
        Najemca nie może używać Przedmiotu Najmu do czynności sprzecznych z jego
        przeznaczeniem oraz niezgodnie z instrukcją użytkowania.
      </li>
      <li>
        Najemca nie może bez pisemnej zgody Wynajmującego udostępniać Przedmiotu
        Najmu do użytkowania osobie trzeciej, ani też go podnajmować.
      </li>
      <li>
        W przypadku nieprawidłowego działania Przedmiotu Najmu, Najemca
        zobowiązany jest do natychmiastowego przerwania pracy i niezwłocznego
        zwrócenia Przedmiotu Najmu Wynajmującemu.
      </li>
      <li>
        Za straty przekraczające normalne zużycie lub powstałe w wyniku
        niewłaściwego korzystania z Przedmiotu Najmu, utraty, uszkodzenia lub
        jego zniszczenia, Najemca zobowiązuje się zwrócić Wynajmującemu ich
        równowartość lub pokryć koszty naprawy – według wyboru Wynajmującego - w
        pełnej wysokości. Najemca ponosi odpowiedzialność za Przedmiot Najmu do
        pełnej wartości Przedmiotu Najmu. Podstawą do ustalenia wartości
        Przedmiotu Najmu jest jego rynkowa wartość określona w niniejszej
        umowie.
      </li>
      <li>
        Najemca jest obowiązany niezwłocznie, nie później niż w ciągu 12 godzin
        powiadomić na piśmie lub mailowo oraz telefonicznie Wynajmującego o
        utracie, uszkodzeniu lub zniszczeniu Przedmiotu Najmu.
      </li>
      <li>
        Przy zawieraniu umowy, zostaje pobrana od Najemcy kaucja na
        zabezpieczenie wszelkich roszczeń Wynajmującego mogących wynikać z
        niniejszej umowy, w szczególności celem zabezpieczenia utraty,
        uszkodzenia lub zniszczenia Przedmiotu Najmu oraz niestosowania się do
        instrukcji obsługi, a także zapłaty wynagrodzenia oraz wszelkich innych
        należności z tytułu niniejszej umowy. Zapłata kaucji nie zwalnia Najemcy
        z odpowiedzialności wynikającej z w/w roszczeń. Najemca przyjmuje w
        szczególności do wiadomości, że z tytułu utraty, uszkodzenia lub
        zniszczenia Przedmiotu Najmu zachodzi obowiązek pokrycia 100% szkód
        powstałych w Przedmiocie Najmu oraz że koszt naprawy ustala autoryzowany
        serwis, a w przypadku braku opłacalności naprawy należy zwrócić wartość
        całego Przedmiotu Najmu. Kaucja nie jest oprocentowana i podlega
        zwrotowi w dniu zakończenia umowy lub zostanie zaliczona na poczet
        rozliczenia.
      </li>
      <li>
        Przedmiot Najmu wyposażony w plomby zabezpieczające. Najemca akceptuje,
        że w przypadku zerwania plomby kaucja podlega zatrzymaniu i nie zostaje
        zwrócona, gdyż jest to jednoznaczne z ingerencją w stan techniczny
        Przedmiotu Najmu.
      </li>
    </ol>
    <p style="text-align: center" data-mce-style="text-align: center;">
      <strong>§3.</strong>
    </p>
    <ol>
      <li>
        Umowa zostaje zawarta na czas określony Okres najmu może zostać
        przedłużony jedynie po poinformowaniu Wynajmującego i po podpisaniu
        nowej umowy najmu. W przypadku braku zgody Najemca jest zobowiązany
        zwrócić Przedmiot Najmu w terminie określonym w umowie.
      </li>
      <li>
        Umowa może zostać rozwiązana w każdym czasie na mocy porozumienia Stron.
      </li>
      <li>
        Każdej ze Stron przysługuje prawo wypowiedzenia umowy z zachowaniem
        miesięcznego okresu wypowiedzenia, złożonego na piśmie, ze skutkiem na
        koniec miesiąca kalendarzowego.
      </li>
      <li>
        Wynajmującemu przysługuje prawo do wypowiedzenia umowy ze skutkiem
        natychmiastowym w przypadku, gdy:
      </li>
      <li>
        Najemca używa Przedmiotu Najmu w sposób sprzeczny z umową i/lub jego
        przeznaczeniem, narażając na jego utratę lub uszkodzenie,
      </li>
      <li>Najemca narusza inne postanowienia niniejszej umowy.</li>
    </ol>
    <p style="text-align: center" data-mce-style="text-align: center;">
      <strong> §</strong><strong>4.</strong>
    </p>
    <ol>
      <li>
        Wynajmujący nie ponosi odpowiedzialności za szkody powstałe na skutek
        nieprawidłowego korzystania, eksploatacji, transportu i przechowywania
        Przedmiotu Najmu.
      </li>
      <li>
        Odpowiedzialność za szkody wyrządzone Najemcy oraz osobom trzecim,
        związane z wynajmem Przedmiotu Najmu, w tym za wszelkie szkody powstałe
        w skutek prac prowadzonych przy użyciu Przedmiotu Najmu ponosi wyłącznie
        Najemca.
      </li>
      <li>
        Najemca zrzeka się nieodwołalnie z wszelkich roszczeń wobec
        Wynajmującego z tytułu wypadków, poniesionych szkód lub obrażeń
        powstałych w trakcie korzystania z Przedmiotu Najmu.
      </li>
    </ol>
    <p style="text-align: center" data-mce-style="text-align: center;">
      <strong>§5.</strong>
    </p>
    <ol>
      <li>
        W dniu wygaśnięcia bądź rozwiązania niniejszej umowy Najemca zobowiązany
        jest zwrócić Wynajmującemu Przedmiot Najmu w stanie nie pogorszonym
        ponad normalne zużycie. Zwrot zostanie dokonany na podstawie protokołu
        zdawczo-odbiorczego, którego wzór stanowi Załącznik nr 2 do niniejszej
        umowy. W protokole zdawczo – odbiorczym zostanie określony stan
        zwracanego Przedmiotu Najmu.
      </li>
      <li>
        Jeżeli Najemca odmówi zwrotu Przedmiotu Najmu, Wynajmujący uprawniony
        będzie do samodzielnego sporządzenia protokołu zdawczo – odbiorczego.
        Niezależnie od sporządzenia jednostronnego protokołu, Najemca
        zobowiązany będzie do zapłaty Wynajmującemu kwoty z tytułu bezumownego
        korzystania z Przedmiotu Najmu w wysokości 110% wynagrodzenia za każdy
        dzień takiego korzystania.
      </li>
      <li>
        Zwrócony Przedmiot Najmu powinien być kompletny, w pełni sprawny, wolny
        od wszelkich wad, oczyszczony a zbiornik paliwa powinien zostać w pełni
        uzupełniony paliwem.
      </li>
      <li>
        W przypadku zwrotu brudnego Przedmiotu Najmu, Najemca zobowiązuje się
        ponieść koszty mycia w kwocie 20 zł brutto, płatne w dniu zwrotu
        Przedmiotu Najmu.
      </li>
    </ol>
    <p style="text-align: center" data-mce-style="text-align: center;">
      <strong>§6.</strong>
    </p>
    <ol>
      <li>
        Wynajmujący informuje niniejszym Najemcę, że Wynajmujący jest
        administratorem danych osobowych Najemcy (dokładne dane znajdują się w
        komparycji Umowy). Z administratorem można się skontaktować pisemnie na
        adres siedziby administratora.
      </li>
      <li>Dane osobowe Najemcy będą przetwarzane:</li>
    </ol>
    <ul>
      <li>
        w celu zawarcia i realizacji umowy – podstawą prawną jest zawarcie i
        realizacja umowy z Najemcą (art. 6 ust. 1 lit. b RODO);
      </li>
      <li>
        w celu realizacji obowiązków publicznoprawnych Wynajmującego
        wynikających przede wszystkim z przepisów podatkowych – podstawą prawną
        jest wypełnienie obowiązków prawnych ciążących na Wynajmującym (art. 6
        ust. 1 lit. c RODO);
      </li>
      <li>
        w celu ustalenia lub dochodzenia ewentualnych roszczeń lub obrony przed
        takimi roszczeniami przez Wynajmującego – podstawą prawną przetwarzania
        danych jest prawnie uzasadniony interes Wynajmującego polegający na
        umożliwieniu obrony praw przysługujących Wynajmującemu (art. 6 ust. 1
        lit. f RODO);
      </li>
    </ul>
    <ol start="3">
      <li>
        Dane osobowe będą przekazywane podmiotom świadczącym usługi na rzecz
        Wynajmującego związane z wykonywaniem zawartej umowy, takim jak
        dostawcom systemów informatycznych i usług IT, operatorom pocztowym i
        kurierom, podmiotom świadczącym usługi prawne, ubezpieczycielom.
      </li>
      <li>
        Dane osobowe będą przetwarzane przez okres wykonywania umowy oraz okres
        wymagany do przechowywania odpowiedniej dokumentacji przez przepisy
        prawa. Okres przetwarzania danych osobowych może zostać każdorazowo
        przedłużony o okres przedawnienia roszczeń, jeżeli przetwarzanie danych
        osobowych będzie niezbędne dla dochodzenia ewentualnych roszczeń lub
        obrony przed takimi roszczeniami przez Wynajmującego. Po tym okresie
        dane będą przetwarzane jedynie w zakresie i przez czas wymagany
        przepisami prawa.
      </li>
      <li>
        Administrator informuje o prawie do żądania od administratora dostępu do
        danych osobowych dotyczących osoby, której dane dotyczą, ich
        sprostowania, usunięcia lub ograniczenia przetwarzania oraz o prawie do
        wniesienia skargi do organu nadzorczego.
      </li>
      <li>
        Najemcy przysługuje także prawo wniesienia sprzeciwu względem
        przetwarzania danych osobowych w określonych prawem przypadkach.
      </li>
      <li>
        Podanie danych jest wymagane przez Wynajmującego w celu zawarcia i
        wykonywania umowy, a brak ich podania będzie skutkował niemożliwością
        jej zawarcia i wykonania.
      </li>
    </ol>
    <p><strong>&nbsp;</strong></p>
    <p style="text-align: center" data-mce-style="text-align: center;">
      <strong>§7.</strong>
    </p>
    <p>
      W sprawach nie uregulowanych niniejszą umową mają zastosowanie odpowiednie
      przepisy polskiego Kodeksu Cywilnego.<br />
    </p>
    <p style="text-align: center" data-mce-style="text-align: center;">
      <strong>§</strong><strong>8.</strong>
    </p>
    <p>
      Wynajmujący zastrzega sobie prawo do przeniesienia swoich wierzytelności
      na rzecz osób trzecich, wynikających z przedmiotowej umowy, na co Najemca
      wyraża zgodę.
    </p>
    <p style="text-align: center" data-mce-style="text-align: center;">
      <strong> §</strong><strong>9.</strong>
    </p>
    <p>
      Zmiany postanowień umowy oraz wszelkie oświadczenia i zawiadomienia
      wymagają formy pisemnej pod rygorem nieważności.
    </p>
    <p style="text-align: center" data-mce-style="text-align: center;">
      <strong> §</strong><strong>10.</strong>
    </p>
    <p>
      Umowa zostanie sporządzona w dwóch jednobrzmiących egzemplarzach, w formie
      pisemnej, po 1 egzemplarzu dla każdej ze Stron.
    </p>
    <p><br /></p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
    <p>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</p>
  </div>
</div>
