.main-page-top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 150px;
}

@media only screen and (min-width: 960px) {
  .main-page-top {
    background-image: url("src/assets/main-page/back-blur-500px.png");
    background-position: bottom;
    background-size: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    width: 100%;
    height: 350px;
  }
}

.main-background-handset {
  height: 250px !important;
}

.logo-spectools {
  width: 500px;
}

@media only screen and (max-width: 600px) {
  .logo-spectools {
    width: 350px;
  }
}

.main-item {
  color: white;
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  text-shadow: 0 4px 14px rgb(0 0 0 / 35%);
}

.header-text {
  font-size: 2rem;
  font-weight: bold;
  color: #455a64;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .header-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: #455a64;
    text-align: center;
  }
}

.add-margin-bottom {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.subtitle-text {
  font-size: 1.5rem;
  font-weight: 600;
  color: #455a64;
  text-align: center;
}

@media only screen and (max-width: 600px) {
  .subtitle-text {
    font-size: 1rem;
    font-weight: 600;
    color: #455a64;
    text-align: center;
  }
}

.rent-online-container {
  background-color: white;
  width: 100%;
  min-height: 600px;
  margin-bottom: 1rem;
  padding: 2rem;
}

.desktop-step-container,
.desktop-delivery-container {
  margin: 2rem auto;
  padding: 0.2rem;
}

.desktop-step-container {
  background-color: white !important;
}

.step-item {
  padding: 0.2rem;
  min-height: 150px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-size {
  width: 150px;
  height: 150px;
  margin-bottom: 1.5rem;
}

@media only screen and (max-width: 600px) {
  .image-size {
    width: 100px;
    height: 100px;
    margin-bottom: 0.5rem;
  }
}

.text-style {
  text-align: center;
  font-size: 1.2rem;
  font-weight: 600;
}

.delivery-container {
  width: 100%;
  min-height: 700px;
  padding: 2rem;
}

.most-popular-container {
  background-color: white;
  width: 100%;
  min-height: 500px;
}

.delivery-image {
  width: 100px;
  height: 100px;
}

.desktop-delivery-container {
  background-color: whitesmoke;
}

.calc-area form {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}

.calc-text {
  height: 40px;
  min-width: 250px;
  padding: 0.2rem;
  margin: 0.5rem;
  border-bottom: solid 1px #78909c;
}

@media only screen and (min-width: 1400px) {
  #map {
    margin-top: 2rem;
    height: 650px;
    width: 1400px;
    margin: auto;
  }
}

@media only screen and (max-width: 1400px) {
  #map {
    margin-top: 1rem;
    height: 400px;
  }
}

.partners-container {
  width: 100%;
  min-height: 80px;
  background-color: white;
}

.desktop-partners-container {
  margin: auto;
  padding: 0.2rem;
  background-color: white;
}

.partners-item {
  padding: 0.2rem;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

@media only screen and (min-width: 1024px) {
  .partners-image-size {
    height: 40px;
  }
}

@media only screen and (max-width: 1024px) {
  .partners-image-size {
    height: 20px;
  }
}

@media only screen and (min-width: 1400px) {
  .slider-container {
    width: 1400px;
    margin: auto;
  }
}

@media only screen and (max-width: 1400px) {
  .slider-container {
    width: 100%;
  }
}

/* /////////////////////////////////////////////////////////////////////// */

.promo-container {
  width: 100%;
  min-height: 300px;
  padding: 2rem;
}

.promo-item {
  background-color: white;
  border-radius: 2%;
  min-height: 300px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 1rem;
}

.image-promo {
  height: 250px;
  align-self: center;
  border-radius: 30%;
}

.promo-text {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
}

.promo-color-dark {
  color: #455a64;
}

.promo-color-white {
  color: white;
}

.bluegray-background {
  background-color: #455a64;
}

.amber-background {
  background-color: #ffc107;
}

/* STARE */
/* .promo-height-expand {
  min-height: 700px !important;
} */

/* .promo-card {
  width: 100%;
  height: 100%;
}

.promo-background {
  background-color: #455a64;
}

.image-promo {
  width: 100%;
  align-self: center;
}

.content-1,
.content-2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 0.3rem;
}

.content-1 {
  position: relative;
  height: 50%;
  row-gap: 0.2rem;
  padding: 0.2rem 0;
}
.content-2 {
  height: 50%;
}

.overlay {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: #ffc107;
  border-radius: 0 0 0 1.5rem;
}

.overlay::before,
.overlay::after {
  content: "";
  position: absolute;
  right: 0;
  bottom: -3rem;
  height: 3rem;
  width: 3rem;
  background-color: #ffc107;
}

.overlay::after {
  border-radius: 0 1.5rem 0 0;
  background-color: #455a64;
}

.promo,
.promo-2 {
  position: relative;
  width: 180px;
  height: 180px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-size: 3rem;
  font-weight: 600;
  text-shadow: 0 4px 14px rgb(0 0 0 / 35%);
}

.promo {
  border: solid 1.5rem #455a64;
}

.promo-2 {
  border: solid 1.5rem #ffc107;
}

.text-promo,
.text-promo-date {
  position: relative;
  color: white;
  font-size: 2rem;
  font-weight: 600;
  text-shadow: 0 4px 14px rgb(0 0 0 / 35%);
  text-align: center;
}

@media only screen and (max-width: 1024px) {
  .text-promo,
  .text-promo-date {
    position: relative;
    color: white;
    font-size: 1rem;
    font-weight: 600;
    text-shadow: 0 4px 14px rgb(0 0 0 / 35%);
    text-align: center;
  }
}

.text-promo-date {
  font-size: 1rem;
} */
/* KONIEC */
