<div class="main-page-top">
  <div class="main-item">
    <img style="width: 500px" src="assets/spectools/logo.png" />
  </div>
  <div class="main-item" *ngIf="!(isHandset$ | async)">
    Mobilna wypożyczalnia urządzęń
  </div>
  <div class="main-item">Nie kupuj, wypożycz!</div>
</div>

<div class="promo-container">
  <h2 class="header-text add-margin-bottom">PROMOCJA</h2>
</div>

<div class="rent-online-container">
  <h2 class="header-text">NOWOŚĆ!</h2>
  <p class="subtitle-text">Zarezerwuj i wypożycz online!</p>
  <div class="desktop-step-container">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1rem">
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/drill.png" />
          <div class="text-style">Wybierz urządzenie</div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/pcduo.png" />
          <div class="text-style">Kliknij wypożycz online</div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/redirectduo.png" />
          <div class="text-style">
            Zostaniesz przekierowany do strony rentools.pl
          </div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/calendar.png" />
          <div class="text-style">
            Wybierz termin rezerwazji i zadaj pytanie o dostępność
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center">
    <button mat-flat-button color="accent" routerLink="/oferta">
      Przejdź do oferty
    </button>
  </div>
</div>

<div class="delivery-container">
  <h2 class="header-text">
    <img class="delivery-image" src="assets/main-page/delivery_truck.png" />
    DOSTARCZYMY PROSTO DO CIEBIE
    <img class="delivery-image" src="assets/main-page/house.png" />
  </h2>
  <p class="subtitle-text">Sprawdź zakresy dostaw</p>

  <div id="map"></div>
  <div class="desktop-step-container">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1rem">
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/dostawa-5km.png" />
          <div class="text-style">Dostawa GRATIS!</div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/dostawa-10km.png" />
          <div class="text-style">Koszt dostawy do 10km to 30zł</div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/dostawa-15km.png" />
          <div class="text-style">Koszt dostawy do 15 km to 50zł</div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/dostawa-pow-15km.png" />
          <div class="text-style">
            Powyżej 15km koszt dostawy ustalamy indywidualnie.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="most-popular-container">
  <h2 style="margin-bottom: 1rem; padding: 2rem 0" class="header-text">
    NAJPOPULARNIEJSZE URZĄDZENIA W NASZEJ OFERCIE
  </h2>
  <div [ngClass]="{ 'slider-container': !(isHandset$ | async) }">
    <app-slider-main></app-slider-main>
  </div>
</div>

<div class="partners-container">
  <div class="desktop-partners-container">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1rem">
      <div fxFlex>
        <div class="partners-item">
          <img
            class="partners-image-size"
            src="assets/logo/graphite-logo.png"
          />
        </div>
      </div>
      <div fxFlex>
        <div class="partners-item">
          <img class="partners-image-size" src="assets/logo/stihl-logo.png" />
        </div>
      </div>
      <div fxFlex>
        <div class="partners-item">
          <img
            class="partners-image-size"
            src="assets/logo/hortmasz-logo.jpg"
          />
        </div>
      </div>
      <div fxFlex>
        <div class="partners-item">
          <img class="partners-image-size" src="assets/logo/karcher-logo.png" />
        </div>
      </div>
      <div fxFlex>
        <div class="partners-item">
          <img class="partners-image-size" src="assets/logo/makita-logo.png" />
        </div>
      </div>
    </div>
  </div>
</div>
