<div
  class="main-page-top"
  [ngClass]="{ 'main-background-handset': (isHandset$ | async) }"
>
  <button
    mat-flat-button
    color="primary"
    style="margin-bottom: 1rem"
    routerLink="/oferta"
    *ngIf="isHandset$ | async"
  >
    Sprawdź naszą ofertę
  </button>
  <div class="main-item">
    <img class="logo-spectools" src="assets/spectools/logo.png" />
  </div>
  <div class="main-item" *ngIf="!(isHandset$ | async)">
    Mobilna wypożyczalnia urządzeń
  </div>
  <div class="main-item">Nie kupuj, wypożycz!</div>
</div>

<div class="most-popular-container">
  <h2 style="margin-bottom: 1rem; padding: 1rem 0" class="header-text">
    POPULARNE URZĄDZENIA W NASZEJ OFERCIE
  </h2>
  <div [ngClass]="{ 'slider-container': !(isHandset$ | async) }">
    <app-slider-main></app-slider-main>
  </div>
</div>

<div class="promo-container">
  <h2
    class="header-text"
    [ngClass]="{ 'add-margin-bottom': !(isHandset$ | async) }"
  >
    PROMOCJA
  </h2>
  <div class="desktop-container">
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5rem grid">
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <div class="promo-item bluegray-background">
          <span class="promo-text promo-color-white"
            >Wypożycz wertykulator STIHL RL540</span
          >
        </div>
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <a routerLink="/oferta/stihl-rl-540/19">
          <div class="promo-item">
            <img
              class="image-promo"
              src="assets/offer/wertykulator-rl-540.jpg"
              alt="Loading..."
            />
          </div>
        </a>
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <a routerLink="/oferta/karcher-puzzi-10-1/11">
          <div class="promo-item">
            <img
              class="image-promo"
              src="assets/offer/odkurzacz-pioracy-karcher-puzzi 10-1.jpg"
              alt="Loading..."
            />
          </div>
        </a>
      </div>
      <div fxFlex="50%" fxFlex.xs="100%" fxFlex.sm="100%">
        <div class="promo-item amber-background">
          <span class="promo-text promo-color-dark"
            >Otrzymasz -50% na wypożyczenie odkurzacza oraz -20% dla Twoich
            bliskich!</span
          >
        </div>
      </div>

      <!-- STARE -->
      <!-- <div fxFlex>
        <mat-card class="promo-card promo-background">
          <div class="content-1">
            <span class="overlay"></span>
            <div class="text-promo">RABAT NA WYPOŻYCZENIE ODKURZACZA</div>
            <div class="promo">-50%</div>
            <div class="text-promo">DLA CIEBIE...</div>
          </div>

          <div class="content-2">
            <div class="text-promo">... A DLA BLISKICH</div>
            <div class="promo-2">-20%</div>
            <div class="text-promo-date">Oferta ważna do: 31.10.2023</div>
          </div>
        </mat-card>
      </div> -->
      <!-- <div fxFlex>
        <mat-card class="promo-card">
          <mat-card-header
            ><mat-card-title class="header-text"
              >Odkurzacz piorący KARCHER PUZZI 10/1</mat-card-title
            ></mat-card-header
          >
          <img
            class="image-promo"
            src="assets/offer/odkurzacz-pioracy-karcher-puzzi 10-1.jpg"
            alt="Loading..."
        /></mat-card>
      </div> -->
      <!-- KONIEC -->
    </div>
  </div>
</div>

<div class="rent-online-container">
  <h2 class="header-text">NOWOŚĆ!</h2>
  <p class="subtitle-text">Zarezerwuj i wypożycz online!</p>
  <div
    class="desktop-step-container"
    [ngClass]="{ 'desktop-container': !(isHandset$ | async) }"
  >
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1rem">
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/drill.png" />
          <div class="text-style">Wybierz urządzenie</div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/pcduo.png" />
          <div class="text-style">Kliknij wypożycz online</div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/redirectduo.png" />
          <div class="text-style">
            Zostaniesz przekierowany do strony rentools.pl
          </div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/calendar.png" />
          <div class="text-style">
            Wybierz termin rezerwazji i zadaj pytanie o dostępność
          </div>
        </div>
      </div>
    </div>
  </div>
  <div style="text-align: center">
    <button mat-flat-button color="accent" routerLink="/oferta">
      Przejdź do oferty
    </button>
  </div>
</div>

<div class="delivery-container">
  <h2 class="header-text">
    <img
      class="delivery-image"
      src="assets/main-page/delivery_truck.png"
      *ngIf="!(isHandset$ | async)"
    />
    DOSTARCZYMY PROSTO DO CIEBIE
    <img
      class="delivery-image"
      src="assets/main-page/house.png"
      *ngIf="!(isHandset$ | async)"
    />
  </h2>
  <p class="subtitle-text">Sprawdź zakresy dostaw</p>

  <div id="map"></div>
  <div
    class="desktop-delivery-container"
    [ngClass]="{ 'desktop-container': !(isHandset$ | async) }"
  >
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="0.5rem">
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/dostawa-5km.png" />
          <div class="text-style">Dostawa GRATIS!</div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/dostawa-10km.png" />
          <div class="text-style">Koszt dostawy do 10km to 30zł</div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/dostawa-15km.png" />
          <div class="text-style">Koszt dostawy do 15 km to 50zł</div>
        </div>
      </div>
      <div fxFlex>
        <div class="step-item">
          <img class="image-size" src="assets/main-page/dostawa-pow-15km.png" />
          <div class="text-style">
            Powyżej 15km koszt dostawy ustalamy indywidualnie.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="partners-container">
  <div
    class="desktop-partners-container"
    [ngClass]="{ 'desktop-container': !(isHandset$ | async) }"
  >
    <div fxLayout="row wrap" fxLayout.xs="column" fxLayoutGap="1rem">
      <div fxFlex>
        <div class="partners-item">
          <img
            class="partners-image-size"
            src="assets/logo/graphite-logo.png"
          />
        </div>
      </div>
      <div fxFlex>
        <div class="partners-item">
          <img class="partners-image-size" src="assets/logo/stihl-logo.png" />
        </div>
      </div>
      <div fxFlex>
        <div class="partners-item">
          <img
            class="partners-image-size"
            src="assets/logo/hortmasz-logo.jpg"
          />
        </div>
      </div>
      <div fxFlex>
        <div class="partners-item">
          <img class="partners-image-size" src="assets/logo/karcher-logo.png" />
        </div>
      </div>
      <div fxFlex>
        <div class="partners-item">
          <img class="partners-image-size" src="assets/logo/makita-logo.png" />
        </div>
      </div>
    </div>
  </div>
</div>
