<div style="width: 1000px">
  <div class="row text-center">
    <div class="col-md-4">
      <div class="btn-group">
        <button
          mat-raised-button
          color="accent"
          style="margin-right: 0.2rem"
          mwlCalendarPreviousView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Previous
        </button>
        <button
          mat-raised-button
          color="primary"
          style="margin-right: 0.2rem"
          mwlCalendarToday
          [(viewDate)]="viewDate"
        >
          Today
        </button>
        <button
          mat-raised-button
          color="accent"
          mwlCalendarNextView
          [view]="view"
          [(viewDate)]="viewDate"
          (viewDateChange)="closeOpenMonthViewDay()"
        >
          Next
        </button>
      </div>
    </div>
    <div class="col-md-4">
      <h3>{{ viewDate | calendarDate : view + "ViewTitle" : "en" }}</h3>
    </div>
    <div class="col-md-4">
      <div class="btn-group">
        <button
          mat-raised-button
          color="accent"
          style="margin-right: 0.2rem"
          (click)="setView(CalendarView.Month)"
          [class.active]="view === CalendarView.Month"
        >
          Month
        </button>
        <button
          mat-raised-button
          color="accent"
          style="margin-right: 0.2rem"
          (click)="setView(CalendarView.Week)"
          [class.active]="view === CalendarView.Week"
        >
          Week
        </button>
        <button
          mat-raised-button
          color="accent"
          (click)="setView(CalendarView.Day)"
          [class.active]="view === CalendarView.Day"
        >
          Day
        </button>
      </div>
    </div>
  </div>
  <br />
  <div [ngSwitch]="view">
    <mwl-calendar-month-view
      *ngSwitchCase="CalendarView.Month"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      [activeDayIsOpen]="activeDayIsOpen"
      (dayClicked)="dayClicked($event.day)"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-month-view>
    <mwl-calendar-week-view
      *ngSwitchCase="CalendarView.Week"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-week-view>
    <mwl-calendar-day-view
      *ngSwitchCase="CalendarView.Day"
      [viewDate]="viewDate"
      [events]="events"
      [refresh]="refresh"
      (eventTimesChanged)="eventTimesChanged($event)"
    >
    </mwl-calendar-day-view>
  </div>

  <br /><br /><br />
  <mat-expansion-panel
    (opened)="panelOpenState = true"
    (closed)="panelOpenState = false"
  >
    <mat-expansion-panel-header>
      <mat-panel-title> Oferta </mat-panel-title>
    </mat-expansion-panel-header>

    <cdk-virtual-scroll-viewport itemSize="50" class="example-viewport">
      <mat-nav-list *ngFor="let item of offerItems; let index = index">
        <a mat-list-item (click)="onItemPicked(item.id)"
          ><span>{{ item.name }}</span></a
        >
      </mat-nav-list>
    </cdk-virtual-scroll-viewport>
  </mat-expansion-panel>

  <br /><br /><br />
  <div *ngIf="offerItem">
    <h3>
      {{ offerItem.name }}
      <button
        class="float-end"
        mat-raised-button
        color="accent"
        (click)="addEvent()"
      >
        Add new
      </button>
      <div class="clearfix"></div>
    </h3>

    <div class="table-responsive">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>Title</th>
            <th>Primary color</th>
            <th>Secondary + text color</th>
            <th>Starts at</th>
            <th>Ends at</th>
            <th>Remove</th>
          </tr>
        </thead>

        <tbody>
          <tr *ngFor="let event of events">
            <td>
              <input
                type="text"
                class="form-control"
                [(ngModel)]="event.title"
                (keyup)="refresh.next()"
              />
            </td>
            <td>
              <input
                type="color"
                [(ngModel)]="event.color.primary"
                (change)="refresh.next()"
              />
            </td>
            <td>
              <input
                type="color"
                [(ngModel)]="event.color.secondary"
                (change)="refresh.next()"
              />
              <input
                type="color"
                [ngModel]="event.color.secondaryText ?? '#1e90ff'"
                (ngModelChange)="event.color.secondaryText = $event"
                (change)="refresh.next()"
              />
            </td>
            <td>
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.start"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
            <td>
              <input
                class="form-control"
                type="text"
                mwlFlatpickr
                [(ngModel)]="event.end"
                (ngModelChange)="refresh.next()"
                [altInput]="true"
                [convertModelValue]="true"
                [enableTime]="true"
                dateFormat="Y-m-dTH:i"
                altFormat="F j, Y H:i"
                placeholder="Not set"
              />
            </td>
            <td>
              <button mat-flat-button color="warn" (click)="deleteEvent(event)">
                Delete
              </button>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button
    mat-raised-button
    color="accent"
    (click)="onSave()"
    [disabled]="events.length === 0"
  >
    ZAPISZ W BAZIE DANYCH
  </button>
</div>
