<div class="dashboard-container" fxLayout.gt-sm="row" fxLayout.lt-md="column">
  <div fxFlex.gt-sm="20%" fxFlex.lt-md="20%" class="left" *ngIf="isLogged">
    <div class="header"><span>Menu</span></div>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true
        }"
        ><span>Panel główny</span></a
      >
      <a
        mat-list-item
        routerLink="dashboard/calendar"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true
        }"
        ><span>Kalendarz</span></a
      >

      <a
        mat-list-item
        routerLink="dashboard/offer/new"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true
        }"
        (click)="onModeChange('new')"
        ><span>Dodawanie oferty</span></a
      >

      <a
        mat-list-item
        routerLink="dashboard/offer/edit"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true
        }"
        (click)="onModeChange('edit')"
        ><span>Edycja oferty</span></a
      >

      <a
        mat-list-item
        routerLink="dashboard/promo-edit"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true
        }"
        ><span>Edycja promocji</span></a
      >

      <a mat-list-item (click)="onLogout()"><span>Wyloguj</span></a>
    </mat-nav-list>
  </div>
  <div
    [fxFlex.gt-sm]="isLogged ? '80%' : '100%'"
    [fxFlex.lt-md]="isLogged ? '80%' : '100%'"
    class="right"
  >
    <router-outlet></router-outlet>
  </div>
</div>
