<div class="dashboard-container" fxLayout.gt-sm="row" fxLayout.lt-md="column">
  <div fxFlex.gt-sm="20%" fxFlex.lt-md="20%" class="left" *ngIf="isAuth">
    <div class="header"><span>Menu</span></div>
    <mat-nav-list>
      <a
        mat-list-item
        routerLink="dashboard"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true
        }"
        ><span>Panel główny</span></a
      >
      <a
        mat-list-item
        routerLink="dashboard/calendar"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true
        }"
        ><span>Kalendarz</span></a
      >

      <a
        mat-list-item
        routerLink="dashboard/offer/new"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true
        }"
        (click)="onModeChange('new')"
        ><span>Dodawanie oferty</span></a
      >

      <a
        mat-list-item
        routerLink="dashboard/offer/edit"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true
        }"
        (click)="onModeChange('edit')"
        ><span>Edycja oferty</span></a
      >

      <a
        mat-list-item
        routerLink="dashboard/promo-edit"
        routerLinkActive="active"
        [routerLinkActiveOptions]="{
          exact: true
        }"
        ><span>Edycja promocji</span></a
      >

      <a mat-list-item (click)="onLogout()"><span>Wyloguj</span></a>
    </mat-nav-list>
  </div>
  <div
    [fxFlex.gt-sm]="isAuth ? '80%' : '100%'"
    [fxFlex.lt-md]="isAuth ? '80%' : '100%'"
    class="right"
  >
    <div *ngIf="!isAuth">
      <mat-card class="login-card">
        <mat-card-content>
          <div class="header-container">
            <span class="header-text">SPECTOOLS</span>
            <img
              class="image-login"
              src="assets/spectools/logo-small-c.png"
              alt="Loading..."
            />
          </div>

          <form class="login-form" [formGroup]="loginForm" *ngIf="!isAuth">
            <span class="login-form-field-label">Użytkownik</span>
            <mat-form-field
              appearance="fill"
              color="accent"
              class="login-form-field"
            >
              <mat-label>użytkownik</mat-label>
              <input
                matInput
                placeholder="podaj nazwę użytkownia"
                formControlName="username"
              />
            </mat-form-field>
            <span class="login-form-field-label">Hasło</span>
            <mat-form-field
              appearance="fill"
              color="accent"
              class="login-form-field"
            >
              <mat-label>hasło</mat-label>
              <input
                matInput
                placeholder="podaj hasło"
                formControlName="password"
              />
            </mat-form-field>

            <mat-error></mat-error>

            <button
              mat-raised-button
              color="accent"
              type="reset"
              (click)="onSubmit()"
              class="login-form-button"
            >
              Zaloguj
            </button>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
    <router-outlet></router-outlet>
  </div>
</div>
