.mat-grid-list {
  background: whitesmoke;
}
.example-card {
  width: 100%;
  height: 100%;
}

.contact-address {
  color: #37474f;
  font-weight: 600;
  font-size: 1.3rem;
}

.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 1rem;
}

.contact-form-field {
  width: 90%;
  margin-bottom: 1rem;
}

.contact-form-button {
  margin-top: 20px;
}

.contact-form-field-label {
  width: 90%;
  margin-bottom: 0.5rem;
  color: #37474f;
  font-weight: 600;
}
